@charset "utf-8";
@import "fonts";         // Font families

$ids-pink-1:   rgb(193,   0,  43); // Lexik
$ids-pink-2:   rgb(250, 243, 222); // Lexik
$ids-grey-1:   rgb(135, 136, 138);
$ids-grey-2:   rgb(217, 218, 219);
$ids-blue-1:   rgb(  0, 158, 224); // Pragmatik
$ids-blue-2:   rgb(188, 228, 247); // Pragmatik

$lighter-pink: lighten($ids-pink-1, 7%);

a:link, a:visited {
  text-decoration: none;
  color: $ids-pink-1;
}

.total-results {
  margin-right: 1em;
  float: right;
  text-align: right;
  > span {
    font-weight: bold;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html > body {
  background-color: $ids-pink-1;
  font-family: tahoma, verdana, arial;
  font-size:11pt;
  color: $ids-pink-2;
}

a.logo > h1 {
  float: left;
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: 90% auto;
    image: url('../img/rabbid.svg');
  }
  height: 32pt; // 63pt;
  width: 107pt; // 214pt;
  margin: 0;

  // BLIND
  > span {
    margin-left: -3000px;
  }
}

a.korap-project {
  display: inline-block;
  height: 2em;
  width: 9em;
  position: absolute;
  right: 1em;
  top: 1em;
  background: {
    position: 50% 50%;
    repeat: no-repeat;
    size: 90% auto;
    image: url('../img/korap-project-3.svg');
  }
  // BLIND
  > span {
    margin-left: -3000px;
  }
}

#happy {
  clear:both;
  text-align: center;
  padding: .5em
}

a.logo.big h1 {
  display: block;
  float: none;
  height: 64pt * 2;
  width: 214pt * 2;
  // left: -107pt;
  margin: {
    top: 10pt;
    bottom: 10pt;
    left: 10%;
  }
}

a.logo.center h1 {
  margin: {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
  }
}

p.export {
  a {
    &::after {
      font-family: 'FontAwesome';
      content: '';
    }
    &.rtf::after {
      content: "\f1c2";
    }
    &.excel::after {
      content: "\f1c3";
    }
    > span {
      position: absolute;
      margin-left: -3000px;
    }
  }
}

a.logo.big + h2 {
  clear: both;
  margin-left: 10%;
}

table.oro-view {
  padding: 0;
  border-collapse: collapse;
  width: 100%;

  thead tr, tfoot tr {
    background-color: $ids-pink-2;
    text-align: center;
    text-wrap: no-wrap;
    color:  $ids-pink-1;
    height: 1.5em;
    a:link, a:visited {
      color: $ids-pink-1;
      text-decoration: none;
    }
    th {
      a::after {
	font-family: 'FontAwesome';
      }
      &.oro-ascending a::after {
	content: " \f0d7";
      }
      &.oro-descending a::after {
	content: " \f0d8";
      }
      &.oro-active {
	background-color: $ids-blue-1;
	color: $ids-blue-2;
	a:link, a:visited {
	  color: $ids-blue-2;
	}
      }

      border-left: 3px solid $ids-pink-1;
      // Document ID
      &:nth-child(1) {
	width: 2em;
	border-left-width: 0;
      }
      // Author
      &:nth-child(2) {
	width: 20em;
      }
      // Title
      &:nth-child(3) {
      }
      // Year
      &:nth-child(4) {
	width: 4em;
      }
      // polDir
      &:nth-child(5) {
	width: 8em;
      }
      // Domain
      &:nth-child(6) {
	width: 8em;
      }
      // Genre
      &:nth-child(7) {
	width: 8em;
      }
    }
  }
  tbody tr {
    &:nth-child(odd) {
      background-color: $lighter-pink;
    }
    &:hover {
      background-color: $ids-blue-1;
    }
    td {
      padding: 3pt 6pt;
      a:link, a:visited {
	color: $ids-pink-2;
	font-weight: bold;
	text-decoration: none;
      }
    }
  }

/*
  .pagination {
    a[rel="prev"] span::after {
      font-family: 'FontAwesome';
      content: "\f0d9";
    }
    a[rel="next"] span:before {
      font-family: 'FontAwesome';
      content: "\f0da";
    }
    span.ellipsis::after {
      font-family: 'FontAwesome';
      content: "\f141";
    }
    span {
      display: inline-block;
    }
  }
  */
}

form {
  display: inline;
}

input[type=search] {
  display: inline-block;
  width: 30em;
  margin: 10pt;
  padding: 2pt;
  color: $ids-pink-1;
  border: {
    width: 3px;
    style: solid;
    color: $ids-pink-2;
    radius: 3px;
  }
}


/**
 * KWIC
 */

ol.kwic {
  width: auto;
  overflow-x: hidden;
  overflow-y: visible;
  list-style-type: none;
  margin: 0;
  text-indent: 0;
  padding: 0;
  > li {
    border: {
      width: 4px;
      style: solid;
      color: $ids-pink-2;
    }
    background-color: $ids-blue-2;
    color: $ids-blue-1;
    // text-shadow: 1px 1px 0px #ddd;
    width: 100%;
    &:not(.active) { // :not(:focus) {
      border: none;
      background-color: $ids-pink-1;
      color: $ids-pink-2;
      > div {
	width: 99999%;
	margin-left: -49999.5%;
	overflow-x: hidden;
	overflow-y: visible;
	white-space: no-wrap;
	cursor: pointer;
	padding: 5pt 0 6pt 0;
      }
      &.flop {
	background-color: $lighter-pink;
      }
    }
  }
}

ol, main {
  clear: both;
  border-top: 2px solid $ids-pink-2;
  border-bottom: 2px solid $ids-pink-2;
}

main {
  background-color: $lighter-pink;
  padding: 0 2em;
  dt {
    text-decoration: underline;
  }
  a:link, a:visited {
    font-weight: bold;
    color: inherit;
  }
}

a.file {
  &::after {
    font-family: 'FontAwesome';
    content: "\f15c";
  }
  > span {
    position: absolute;
    margin-left: -3000px;
  }
}


ol.collection {
  margin: 0;
  padding:0;
  li {
    list-style-type: none;
    text-indent: none;
    width: 100%;
    height: 2em;
    padding: 5pt 6pt;
    a:link, a:visited {
      color: $ids-pink-2;
      font-weight: bold;
      text-decoration: none;
    }
    &:nth-child(odd) {
      background-color: $lighter-pink;
    }
  }
}

h3 {
  clear: both;
  padding-left: 5pt;
  display: block;
  float: left;
}

li.active {
  span.extend {
    display: inline-block;
    &.left::after {
      font-family: 'FontAwesome';
      content: "\f0d9"; // '\f03b';
    }
    &.right::after {
      font-family: 'FontAwesome';
      content: "\f0da"; // '\f03c';
    }
  }
  span.collapse {
    display: inline-block;
    &.right::after {
      font-family: 'FontAwesome';
      content: "\f0d9"; // '\f03b';
    }
    &.left::after {
      font-family: 'FontAwesome';
      content: "\f0da"; // '\f03c';
    }
  }
  span.buttons, span.button {
    background-color: $ids-pink-2;
    color: $ids-pink-1;
    border-radius: 5px;
    margin: 0 4pt;
  }

  span.button, span.buttons > span {
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    padding: 0 4pt;
    // width: 1.8em;
    &:hover {
      background-color: $ids-pink-1;
      color: $ids-pink-2;
    }
  }

  span.button {
    &.close::after {
      font-family: 'FontAwesome';
      content: '\f00d';
    }
    &.store::after {
      font-family: 'FontAwesome';
      content: '\f005';
    }
    > span {
      position: absolute;
      margin-left: -3000px;
    }
  }
}

div.snippet {
  padding: 6pt;
  br {
    margin-bottom:10pt
  }
}

ol > li {
  > div {
    position: relative;
  }
  &:focus {
    outline: none;
  }
}

ol > li:not(.active) { // :not(:focus) {
  &:hover, &.flop:hover {
    background-color: $ids-blue-1;
  }
  div.snippet {
    text-overflow: ellipsis;
    text-indent: 0;
    padding: 0;
  }
  span.context-left {
    display: inline-block;
    text-align: right;
    width: 50.01%;
  }
  p.ref {
    display: none;
  }
  .match mark {
    color: inherit;
  }
}

ol > li.marked:not(.active) {
  div.flag {
    position: absolute;
    top: 0;
    width: 15px;
    height: 100%;
    margin-left: 50%;
    background-color: $ids-blue-1;
    border: 2px solid $ids-blue-2;
    border-left-width: 0;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  &:hover div.flag {
    background-color: $ids-blue-2;
  }
}


ol > li.marked.active .store {
  background-color: $ids-pink-1;
  color: $ids-pink-2;
}

p.ref {
  padding: 3pt;
  margin: 0;
  text-shadow: none;
  text-align: right;
  background-color: $ids-blue-1; // darken($ids-pink-1, 10%);
  color: $ids-pink-2;
}

.match {
  padding-left: 4pt;
  padding-right: 2pt;
}

.match mark {
  color: $ids-pink-1;
  font-weight: bold;
}

.context-left {
  margin-left: 0;
  display: inline;
  overflow: visible;
  text-align: left;
  width: auto;
}

/**
 * Highlights
 */
mark {
  background-color: inherit;
  color: inherit;
}

nav {
  display: block;
  float: right;
  margin: 3pt;
  padding: 3pt;
  > a {
    display: inline-block;
    width: 2em;
    outline: none;
    &::before {
      font-family: 'FontAwesome';
    }
    &.collections::before {
      content: '\f005';
    }
    &.overview::before {
      content: '\f03a';
    }
    &.search::before {
      content: '\f002';
    }
    &.logout::before {
      content: '\f08b';
    }
    &.preferences::before {
      content: '\f007';
    }
    &.about::before {
      content: '\f05a';
    }
    // blind
    > span {
      margin-left: -3000px;
    }
    &:hover {
      background-color: $ids-pink-1;
      color: $ids-pink-2;
    }
  }
}

nav, p.filter, p.export {
  a {
    padding: 2pt 4.5pt;
    background-color: $ids-pink-2;
    color: $ids-pink-1;
    border-radius: 5px;
    text-align: left;
    text-indent: 0;
    border: 2px solid transparent;
    &.active {
      border-color: $ids-pink-2;
      background-color: $ids-blue-1;
      color: $ids-blue-2;
    }
  }
}

p.filter, p.export {
  text-indent: 6pt;
}

p.export {
  float: right;
  margin-right: 2em;
}

p.filter a {
  padding: 0;
  display: inline-block;
  width: 1.2em;
  text-align: center;
}

div.pagination {
  background-color: $ids-pink-2;
  height: 1.5em;
  clear: both;
  width: 100%;
  text-align: center;
  text-wrap: no-wrap;
  color: $ids-pink-1;
  a:link, a:visited {
    color:  $ids-pink-1;
    text-decoration: none;
  }
}

.pagination a:link, .pagination a:visited {
  font-weight: bold;
}


// Login stuff
fieldset {
  clear: both;
  margin: 0 5em 0 5em;
  border: 5px solid $ids-pink-2;
  border-radius: 12px;
  input[type=text], input[type=password], select {
    display: block;
    color: $ids-pink-1;
    width: 20em;
    line-height: 22pt;
    margin: 1em;
    border: {
      width: 3px;
      style: solid;
      color: $ids-pink-2;
      radius: 3px;
    }
  }

  // MultiUser:
/*
  .acct-login input[type=submit] {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
  }
*/
  .acct-login input {
    display: inline-block;
  }

  label {
    text-align: middle;
    line-height: 22pt;
    margin: 1em;
    display: block;
    float: left;
    width: 12em;
    clear: both;
  }

  p {
    clear: both;
  }

  a:link, a:visited {
    color: $ids-pink-2;
    margin: 0 1em;
  }
}

div.notify {
  text-align: center;
  color: $ids-pink-2;
}

input[type=submit] {
  background-color: $ids-pink-2;
  border: {
    width: 3px;
    style: solid;
    color: white;
    radius: 3px;
  }
  color: $ids-pink-1;
}

// Extensions
/*
span.ext {
  display: block;
  &.nobr {
    margin-left: .5em;
    display: inline;
  }
}
*/

li.active span {
  &.button {
    padding: 2pt 5pt;
  }
  &.ext {
    margin-left: .5em;
    &:not(.nobr)::after {
      content: '';
      display: block;
    }
  }
}

.alertify-log-note {
  background: $ids-pink-1;
  color: $ids-pink-2;
}


// MultiUserOro:
.oro-acct {
  a[rel] {
    color: $ids-pink-2;
    margin: 0 5em;
  }
  .acct-user-actions li {
    list-style-type: none;
  }
}
